@import "custom";

.calculator-panel {
    width: 100%;
    background-color: $primary;
    padding: 20px;
    border-radius: 30px;

    @media screen and (min-width: 992px) {
        padding: 98px;
    }

    .calculator-grid-item {
        padding: 5px;

        @media screen and (min-width: 992px) {
            padding: 10px;
        }
    }
}