/* The following block can be included in a custom.scss */

$grid-gutter-width: 5;

$primary: #303056;

/* make the customizations */
$theme-colors: (
    "primary": #303056,
    "danger": tomato
);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";